
<div class="flexbox-parent">
  <div layout="row" layout-align="center center" style="min-height: 500px">
    
    <form (submit)="onLoginSubmit()" display="is-flex">
      <h1>Login</h1>
      <div class = 'username'>
          <label for="name"></label>
          <input type="text" [(ngModel)]="userName" name="userName" placeholder="Username">
      </div>
      <div class = 'password'><br>
          <label for="name"></label>
          <input type="text" [(ngModel)]="password" name="password" placeholder="Password">
      </div>
      <div class = 'submit'><br>
          <button type="submit">Login</button>
      </div>
    </form>
    <div>
      <a [routerLink]="['/signup']">SignUp</a>
    </div>
    
  </div>
</div>
<footer>
  <p class="bottom-text">
    By clicking the Sign Up button, you agree to our
    Terms & Conditions and
    Privacy Policy.
  </p>
  </footer>