<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/dashboard">
      <h1>SP</h1>
    </a>
    <a role="button" (click)="toggleMenu()" class="navbar-burger burger {{menuOpen?'is-active':''}}" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu {{menuOpen?'is-active':''}}">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <div class="navbar-item has-dropdown is-hoverable">
            <div [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact: true}" >
              <a [routerLink]="['/profile']">Profile</a>
            </div>
            <a class="navbar-item" (click)="onLogoutClick()" href="#">
              Log out
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

