body {
    background-color: rgb(52, 102, 168);    
    font-family: 'Oswald', sans-serif;
}
.flexbox-parent {
    display: flex;
    margin: 100px 20%;
    justify-content: space-around;
    text-align: center;
    background-color: rgb(243, 124, 124);
}

.create {
    text-align: center;
}
button:hover {
    background-color: rgb(217, 0, 255);
    color: rgba(0, 0, 0, 0.856);;
}
