<header>
  <img class="logo" src="https://t4.ftcdn.net/jpg/00/94/65/35/500_F_94653581_Xjog6a3vkd7snnpXuVnzbzOVMbrYDfua.jpg">

  <div class="dropdown is-active">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
          <span>Dropdown button</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a href="#" class="dropdown-item">
            Profile
          </a>
          <a href="#" class="dropdown-item">
            Help
          </a>
          <hr class="dropdown-divider">
          <a href="#" class="dropdown-item">
            Signout
          </a>
        </div>
      </div>
    </div>
</header>
<div class="columns">
  <div class="column">
    First column
  </div>
  <div class="column">
    Second column
  </div>
  <div class="column">
    Third column
  </div>
  <div class="column">
    Fourth column
  </div>
</div>

